/**
 *  Live CSS
 */
.navbar-inner {
  background-color: #007A5E;
  background-image: url('../images/header_graphic_green.jpg');
}

.navbar .brand {
    color: white;
    font-weight: normal;
}

.navbar .nav > li {
    border-right: none;
}

.nav-collapse, .nav-collapse.collapse {
    background-color: #007A5E;
}