/**
 *  Sandbox css
*/
.navbar-inner {
    background-color: #007A5E;
    background-image: url('../images/header_graphic_green_sandpit.jpg');
}

.navbar-inner:hover {
    background-image: url('../images/header_graphic_green_colour_sandpit.jpg');
}

.navbar .brand { 
    color: #fff; 
} 

.navbar .nav > li {
    border-right: none;
}

.navbar-inner .brand {
    color: white;
}